body {
	background-image: url("../img/hero.png");
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-color: #fff;
	background-size: cover;
}

body .fa-10x {
  font-size: 10em;
}

body .unique {
	text-align: center;
	margin: 0 0;
	padding: 100px 30px;
}

body .whatwho {
	color: #fff;
	text-align: center;
	margin: 0 0;
	padding: 100px 120px;
  background: #43bdcf; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #43bdcf , #4CC5D7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #43bdcf, #4CC5D7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #43bdcf, #4CC5D7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(300deg, #43bdcf, #43bdcf 45%, #4CC5D7 45%); /* Standard syntax (must be last) */
}

body .col-sm-3 {
  padding: 0;
}

body .whatwho p {
	font-weight: 400;
  padding: 0 15px;
  color: #1d5860;
}

body .whatwho h2 {
  padding-bottom: 60px;
}

body .whatwho h4 {
  color: #fff;
}

body .whatwho i {
  color: #1d5860;
}

body .explaination {
	text-align: center;
	margin: 0 0;
	padding: 100px 30px;
	background-color: #f3f3f3;
}

body .explaination h2,.h2 {
	color: #4a4a4a;
}

body .explaination h3,.h3 {
  margin: 20px 15% 45px;
}

body .rightprod {
	color: #fff;
	text-align: center;
	margin: 0 0;
	padding: 100px 60px;
  background: #4CC5D7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4CC5D7 , #43bdcf); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4CC5D7, #43bdcf); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4CC5D7, #43bdcf); /* For Firefox 3.6 to 15 */
  background: linear-gradient(300deg, #4CC5D7, #4CC5D7 55%, #43bdcf 55%); /* Standard syntax (must be last) */
}

body .rightprod p {
  font-weight: 400;
  padding: 0 40px;
}

body .rightprod h2 {
  padding-bottom: 60px;
  margin: 0 10%;
}

body .rightprod h4 {
  color: #fff;
}

body .rightprod a {
  color: #1d5860;
}

body .rightprod a:hover {
  color: #fff;
}

body .rightprod i {
  color: #1d5860;
}

body .clients {
	color: #fff;
	text-align: center;
	margin: 0 0 0;
	padding: 100px 150px;
	background: #1d5860;
}

body .clients h2 {
  padding-bottom: 60px;
}

body .contactus {
	text-align: center;
	margin: 0 0;
	padding: 100px 30px;
	background-color: #fff;
}

body .contactus h2,.h2 {
	color: #4a4a4a;
  line-height: 43px;
  margin: 0 15%;
}

body .contactus h4, .h4 {
  padding-top: 25px;
  font-weight: 700;
}

body .contactus.fa-chevron-right{
  font-size: 1.5em;
  color: #1d5860;
}

body .contactus h4:hover {
  color: #43bdcf;
}

body .container-fluid img {
	max-width: 100%;
}

body .grad {
  background: #43bdcf;
  background: -webkit-linear-gradient(left, #1d5860 , #43bdcf);
  background: -o-linear-gradient(right, #1d5860, #43bdcf);
  background: -moz-linear-gradient(right, #1d5860, #43bdcf); 
  background: linear-gradient(10deg, #43bdcf, #43bdcf 45%, #4CC5D7 46%); /* Standard syntax (must be last) */
  &:hover {
    background: #1d5860;
  }
}

body .nograd {
	background-color: #fff;
	color: #1d5860;
	font-weight: 600;
}

body .btn {
  margin-top: 30px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 700;
}

body .btn:hover {
  background: #1b5860;
  color: #fff;
}


@media (max-width: 910px) {
  body h2 ,.whatwho h2, .rightprod h2, .clients h2 {
    padding-bottom: 10px;
  }
  
  body .contactus h2, .explaination h3, .rightprod h2 {
    line-height: 24px;
  }

  body .col-sm-12 {
    padding: 35px 10%;
    max-width: 100%;
  }

  body .whatwho.col-sm-12,.col-sm-12.mobile {
    padding-left: 0;
    padding-right: 0;
  }

  body .btn {
    margin-top: 0px;
  }

  body button {
    max-width: 100%;
  }
}