h1,.h1,h2,.h2,h3,.h3,p,.p {
	margin: 0 0 0;
}

.unique {
	text-align: center;
	margin: 0 0;
	padding: 90px 150px;
	background-image: hero.png;
}

.whatwho {
	color: #fff;
	text-align: center;
	margin: 0 0;
	padding: 90px 150px;
    background: #43bdcf; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #1d5860 , #43bdcf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #1d5860, #43bdcf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #1d5860, #43bdcf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #1d5860 , #43bdcf); /* Standard syntax (must be last) */
}

.explaination {
	text-align: center;
	margin: 0 0;
	padding: 90px 150px;
	background-color: #fff;
}

.rightprod {
	color: #fff;
	text-align: center;
	margin: 0 0;
	padding: 90px 150px;
    background: #43bdcf; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #1d5860 , #43bdcf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #1d5860, #43bdcf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #1d5860, #43bdcf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #1d5860 , #43bdcf); /* Standard syntax (must be last) */
}

.clients {
	color: #fff;
	text-align: center;
	margin: 0 0 0;
	padding: 90px 150px;
	background: #1d5860; /* For browsers that do not support gradients */    
}

.contactus {
	text-align: center;
	margin: 0 0;
	padding: 90px 150px;
	background-color: #fff;
}
