.footer {
	margin: 0 0 0;
	padding: 40px 30px 60px;
	background-color: #f3f3f3;
	font-weight: 400;
	color: #4a4a4a;
  font-size: .5em;
}

.footer img {
  float: left;
  margin-right: 10px;
  clear: both;
}

footer p {
  margin: 0;
  color: #4a4a4a;
}

footer a {
  color: #5FC5D4;
}

.bluelight {
  color: #43bdcf;
  font-weight: 600;
}

footer .grouping {
  padding-bottom: 15px;
}

.horizline {
  border-top: 2px solid #E0E0E0;
}

footer .fa-facebook-square,.fa-linkedin-square,.fa-chevron-right {
  color: #43BDCF;
  padding: 0 3px;
}

footer .address {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.legal {
  line-height: 32px;
}

@media (max-width: 768px) {
  p {
    text-align: center;
  }
}