html * {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h1,.h1 {
	color: #4a4a4a;
}

h2,.h2 {
	color: #fff;
}

h3,.h3 {
	color: #acacac;
}

p {
	color: #4a4a4a;
	font-weight: 400;
}

.noradius {
	border-radius: 0px;
	border: 0px solid transparent;
}
