html * {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h1,.h1 {
	color: #4a4a4a;
}

h2,.h2 {
	color: #fff;
}

h3,.h3 {
	color: #acacac;
	font-weight: 400;
}
\
p {
	color: #a4a4a4;
	font-weight: 400;
}
