html * {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  font-size: 24px;
}

.container-fluid {
  padding: 0;
}

h1,.h1 {
	color: #4a4a4a;
  font-size: 2em;
}

h2,.h2 {
	color: #fff;
  font-size: 1.5em;
}

h3,.h3 {
	color: #acacac;
  font-size: 1em;
}

h4,.h4 {
  color: #1d5860;
  font-size: .75em;
}

p {
	color: #4a4a4a;
	font-weight: 400;
  font-size: .5em;
}

.noradius {
	border-radius: 0px;
	border: 0px solid transparent;
}
