nav .navbar {
  min-height: 100px;
}

nav .navbar-header {
  margin-top: 20px;
}

nav .navbar-right {
  margin-top: 25px;
}

nav .container-fluid {
  padding: 0;
}

nav .navbutton.btn {
 border: 2px solid #43bdcf;
 background-color: #fff;
 color: #43bdcf;
 font-weight: bold;
 font-size: 14px;
 margin: 7px 30px 20px 15px;
 padding: 6px 15px;
}

nav .navbutton.btn:hover {
  border: 2px solid #1b5860;
}

nav .img-responsive {
  max-height: 35px;
}

nav .navbar {
  background: #fff;
  padding: 0 15px;
  margin-bottom: 0px;
}

nav .nav li a {
  font-size: 14px;
  font-weight: 700;
}

nav .navbar-brand {
  height: 70px;
  padding-right: 0px;
  margin-top: -10px;
}

@media (max-width: 420px) {
  .navbar-brand {
    max-width: 70%;
  }
}