.navbar {
  min-height: 100px;
}

.navbar-header {
  margin-top: 20px;
}

/*@media (max-width: 880px) { 
  #myNavbar {
    min-height: 100px;
  }
}*/

.navbar-right {
  margin-top: 25px;
}

.container-fluid {
  padding: 0;
}

.navbutton {
 border: 2px solid #43bdcf;
 background-color: #fff;
 color: #43bdcf;
 font-weight: bold;
 margin: 8px 30px 0 15px;
}

.img-responsive {
  height: 35px;
}

.navbar {
  background: #fff;
  padding: 0 15px;
}

.nav li a {
  font-size: 14px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}