.navbar {
  min-height: 100px;
}

#myNavbar {
  min-height: 100px;
}

.navbar-right {
  min-height: 100px;
  margin-right: 0px;
}

.navbutton {
	border: 2px solid #43bdcf;
	background-color: #fff;
	color: #43bdcf;
	font-weight: bold;
}